.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 55%
    right: 55%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 10%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
.banner-principal__componente *
  color: #12263F!important
.banner-principal__descripcion *
  color: #12263F!important
.colort1
  background-color: #DBDF9A
.banner-interno__fondo
  background-image: url("../assets/curso/fondo-banner-interno.png") !important
  background-repeat: no-repeat   
.colorvi
  color: #A3314F
.colort2
  background-color: #A3314F
.tarjeta.color-acento-botones--borde
  background-color:#DEE4F0
  border: solid 4px #DEE4F0
.tabs-a.color-acento-botones .tabs-a__tab__selected
  color: #12263F
.tabs-a__tab
  background-color: #E2E2E2
.linea-tiempo-d.color-secundario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #EDEFCC
.linea-tiempo-d__item--selected
  .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
    background-color: #EDEFCC
.linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #D2E1F1
.linea-tiempo-d__item__number.tarjeta.tarjeta--gris
  background-color: #D2E1F1
.colort3
  background-color: #D2E1F1
.tarjeta.color-acento-botones
  width: 600px
  background-color: #F5F7FB
.tarjeta.color-acento-botones *
  color: #12263F!important
.colort4
  background-color: #D7DB8D
.line
  border-bottom: solid 4px #A3314F
.bg1
  background-image: url("../assets/curso/tema3/bg1.png") !important
  background-size: contain
  margin-inline: -3.4rem
  padding: 50px
  background-position-y: 300px
  background-repeat: no-repeat
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem 
.colort5
  background-color: #FFF4D9
.wi1
  width: 64px
.bg2
  background-image: url("../assets/curso/tema3/bg2.png") !important
  background-size: contain
  margin-inline: -3.4rem
  padding: 50px
  background-repeat: 
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem 
.borb
  border-bottom: 3px solid #A3314F
.ca1
  background-color: #D2E1F1!important
.ca2
  background-color: #DBDF9A!important
.ca3
  background-color: #D2E1F1!important
.bg3
  background-image: url("../assets/curso/tema4/bg1.png") !important
  background-size: contain
  margin-inline: -3.4rem
  padding: 50px
  background-position-y: 500px
  background-repeat: no-repeat 
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem
.bg4
  background-image: url("../assets/curso/tema5/bg1.png") !important
  background-size: contain
  margin-inline: -3.4rem
  padding: 50px
  background-repeat: no-repeat
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem  
.colort6
  background-color: #EFF6E5
  color: black
.wix
  width: 45px
  margin-top: -15px
  @media screen and ( max-width: 992px)
    width: 0px
.ml
  margin-left: -12px
  @media screen and ( max-width: 992px)
    margin-left: 0px
.marq
  margin-right: 600px
  z-index: 2
  position: absolute
  @media screen and ( max-width: 992px)
    margin-right: 0px
    z-index: 0
    position: relative

.tabla-a.color-primario.mb-5.ff table
  min-width: 495px
@media (max-width: $bp-max-xs)
	.tabla-a.color-primario.mb-5.ff table
   min-width: 700px
.waq
  width: 200px

.sombra
  box-shadow: 4px 0px 16px 0px rgba(184,184,184,1)
.maqw
  margin-top: 130px
  @media screen and ( max-width: 992px)
    margin-top: 0px
.colz
  background-color: #E3E4F6!important
.baa
  background-color: white
.maqw2
  margin-top: 220px
  @media screen and ( max-width: 992px)
    margin-top: 0px  
.maqw3
  margin-top: 190px
  @media screen and ( max-width: 992px)
    margin-top: 0px  
.bg44
  background-image: url("../assets/curso/tema6/bg1.png") !important
  background-size: contain
  margin-inline: -3.4rem
  padding: 50px
  background-repeat: no-repeat
  @media screen and ( max-width: 992px)
    background-size: cover
    margin-inline: -2.5rem  
.tam1
  @media screen and ( max-width: 992px)
    width: 20%
    margin-left: auto
    margin-right: auto
.wix2
  width: 45px
  margin-top: -10px
  @media screen and ( max-width: 992px)
    width: 0px
.ffa
  background-image: url("../assets/curso/tema3/ff.png") !important
  background-size: contain
.bga
  background-color: #FFB500
.ml
  @media screen and ( max-width: 820px)
    margin-left: -7rem !important
  @media screen and ( max-width: 428px)
    margin-left: 1.5rem !important
    padding-left: 0px!important
    padding-right: 0px!important
  @media screen and ( max-width: 394px)
    margin-left: -4.4rem !important
    padding-left: 0px!important
    padding-right: 25px!important
  @media screen and ( max-width: 361px)
    margin-left: 1.5rem !important
    padding-left: 0px!important
    padding-right: 0px!important